
<form (submit)="!isEdit() ? onSubmit(): onEdit()" [formGroup]="form" >
  <div class="modal-body" data-select2-id="83">
    <div class="row" data-select2-id="82">

      <div class="col-lg-4" data-select2-id="94">
        <div class="mb-3" learnoSelect id="Classroom" label="Class" [formControlName]="'classId'"  [options]="classes()"> </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3" learnoInput inputType="text" [formControlName]="'name'" id="name" label="Name"></div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3" learnoInput inputType="text" [formControlName]="'amount'" id="amount" label="Amount"></div>
      </div>
      <div class="col-lg-4" data-select2-id="81">
        <div class="mb-3" learnoSelect id="frequency" label="Frequency" [formControlName]="'frequency'"  [options]="frequencies"> </div>
      </div>
      <div class="col-lg-4" data-select2-id="81">
        <label class="form-label" for="frequency">Description</label>
        <textarea class="form-control" id="description" rows="3" [formControlName]="'description'"></textarea>
      </div>
  </div>
  </div>
  <div class="modal-footer">
    <a #closebtn class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
    <app-learno-button [isLoading]="isLoading()" [text]="'Submit'" />
  </div>
</form>
