<!-- Sidenav -->
<!-- Sidenav (toolbar) -->
  <nav class="navbar navbar-expand-xl navbar-vertical">
    <div class="container-fluid">
      <!-- Nav -->
      <nav class="navbar-nav nav-pills h-100">
<!--        <div class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Go to product page">-->
<!--          <a class="nav-link" href="https://themes.getbootstrap.com/product/dashbrd/" target="_blank">-->
<!--            <span class="material-symbols-outlined">local_mall</span>-->
<!--          </a>-->
<!--        </div>-->
        <div class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Contact us">
          <a class="nav-link" href="mailto:info@kodekinnovations.com">
            <span class="material-symbols-outlined">support</span>
          </a>
        </div>


        <div class="nav-item dropend mt-auto" preferenceSetting></div>

      </nav>
    </div>
  </nav>

