<!-- Sidenav -->
<!-- Sidenav (toolbar) -->
  <nav class="navbar navbar-expand-xl navbar-vertical" aria-label="Main navigation">
    <div class="container-fluid">
      <!-- Nav -->
      <nav class="navbar-nav nav-pills h-100" aria-label="Main navigation">
        <div class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Contact us">
          <a class="nav-link" href="mailto:info@kodekinnovations.com">
            <span class="material-symbols-outlined">support</span>
          </a>
        </div>


        <div class="nav-item dropend mt-auto" preferenceSetting></div>

      </nav>
    </div>
  </nav>

