<app-loader [isLoading]="isLoading()" />

<form (submit)="onEdit()"  [formGroup]="form" >
  <div class="modal-body" data-select2-id="83">
    <div class="row" data-select2-id="82">

      <div class="col-lg-4">
        <div class="mb-3" learnoInput inputType="text" [formControlName]="'firstName'" id="firstName" label="Firstname"></div>
      </div>

      <div class="col-lg-4">
        <div class="mb-3" learnoInput inputType="text" [formControlName]="'lastName'" id="lastName" label="Lastname"></div>
      </div>

      <div class="col-lg-4">
        <div class="mb-3" learnoInput inputType="text" [formControlName]="'email'" id="email" label="Email"></div>
      </div>

<!--      <div class="col-lg-4">-->
<!--        <div class="mb-3" learnoInput inputType="password" [formControlName]="'password'" id="password" label="Password"></div>-->
<!--      </div>-->

    </div>
  </div>
  <div class="modal-footer">
    <a href="#" #closebtn  class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
    <app-learno-button [isLoading]="isLoading()" [text]="'Submit'" />
<!--    <button type="submit" class="btn btn-primary">Add Time Table</button>-->
  </div>
</form>
