
.nav-control {
  display: flex;
  align-items: center;
}
.nav-control button.owl-prev {
  margin-right: 8px;
}
.nav-control button {
  /*border: 1px solid #E9EDF4;*/
  border-radius: 50%;
  width: 24px;
  height: 24px;
  /*background: #FFF;*/
  /*color: #515B73;*/
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

