<form (submit)="!isEdit() ? onSubmit(): onEdit()"  [formGroup]="form" >
    <div class="modal-body" data-select2-id="83">
        <div class="row" data-select2-id="82">
            <div class="col-lg-4" data-select2-id="94">
                <div class="mb-3" learnoSelect placeHolder="Class" id="Classroom" label="Class" [formControlName]="'classId'"  [options]="classes()"> </div>
            </div>
            <div class="col-lg-4" data-select2-id="81">
                <div class="mb-3" learnoSelect placeHolder="Subject" id="subject" label="Subject" [formControlName]="'subjectId'"  [options]="subjects()"> </div>
            </div>
            <div class="col-lg-4" data-select2-id="81">
                <div class="mb-3" learnoSelect placeHolder="Teacher" id="teacher" label="Teacher" [formControlName]="'teacherId'"  [options]="teachers()"> </div>
            </div>
            <div class="col-lg-4" data-select2-id="81">
                <div class="mb-3" learnoSelect placeHolder="Day" id="day" label="Day" [formControlName]="'dayOfWeek'"  [options]="days()"> </div></div>
            <div class="col-lg-4">
                <div class="mb-3" learnoSelect placeHolder="Statrt Time" id="startTime" label="Start Time" [formControlName]="'startTime'" [options]="timeOptions"></div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3" learnoSelect placeHolder="End Time" id="endTime" label="End Time" [formControlName]="'endTime'" [options]="timeOptions"></div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3" learnoInput inputType="text" [formControlName]="'room'" id="room" label="Room"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a #closebtn class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
      <app-learno-button [isLoading]="isLoading()" [text]="'Submit'" />
    </div>
</form>
