<form action="class-time-table.html" data-select2-id="84" [formGroup]="formGroup" >
    <div class="modal-body" data-select2-id="83">
        <div class="row" data-select2-id="82">

            <div class="col-lg-4" data-select2-id="94">
                <div class="mb-3" learnoSelect id="Classroom" label="Section" [formControlName]="'classroom'"  [options]="[]"> </div>
            </div>
            <div class="col-lg-4" data-select2-id="81">
                <div class="mb-3" learnoSelect id="subject" label="Subject" [formControlName]="'subject'"  [options]="[]"> </div>
            </div>
            <div class="col-lg-4" data-select2-id="81">
                <div class="mb-3" learnoSelect id="teacher" label="Teacher" [formControlName]="'teacher'"  [options]="[]"> </div>
            </div>
            <div class="col-lg-4" data-select2-id="81">
                <div class="mb-3" learnoSelect id="day" label="Day" [formControlName]="'day'"  [options]="[
                    {label: 'Monday', value: 'Monday'},
                    {label: 'Tuesday', value: 'Tuesday'},
                    {label: 'Wednesday', value: 'Wednesday'},
                    {label: 'Thursday', value: 'Thursday'},
                    {label: 'Friday', value: 'Friday'},
                ]"> </div></div>
            <div class="col-lg-4">
                <div class="mb-3" learnoInput inputType="text" [formControlName]="'startHour'" id="startHour" label="Start Time"></div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3" learnoInput inputType="text" [formControlName]="'startMinute'" id="startMinute" label="Start Minute"></div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3" learnoInput inputType="text" [formControlName]="'endingHour'" id="endingHour" label="End Time"></div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3" learnoInput inputType="text" [formControlName]="'endingMinute'" id="endingMinute" label="Start Minute"></div>
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
        <button type="submit" class="btn btn-primary">Add Time Table</button>
    </div>
</form>
