<app-learno-offset [anchorSelector]="anchorSelector()" [modalId]="'productModal'">
  <div class="card" *ngIf="selectedPay(); else noSelection">
    <div class="card-body">
      <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
          <div class="avatar avatar-xl rounded text-primary">
            <i class="fs-2" data-duoicon="receipt"></i>
          </div>
        </div>
        <div class="col-auto">
          <p class="text-end text-body-secondary mb-0">
            <span class="text-body fw-semibold">{{ selectedPay()?.name }}</span><br />
            Amount: <span class="text-body">{{ selectedPay()?.amount | currency:'USD' }}</span><br />
            Frequency: <span class="text-body">{{ selectedPay()?.frequency }}</span>
          </p>
        </div>
      </div>
      <div class="list-group mb-4">
        <div class="list-group-item bg-body">
          <div class="row">
            <div class="col">Class</div>
            <div class="col-auto">{{ selectedPay()?.class_name || '—' }}</div>
          </div>
        </div>
        <div class="list-group-item bg-body">
          <div class="row">
            <div class="col">ID</div>
            <div class="col-auto">{{ selectedPay()?.id }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">

      <div class="d-flex justify-content-end">
        <app-learno-button text="Edit" class="me-2" data-bs-toggle="modal" [attr.data-bs-target]="`#add_payment`" />
      </div>

    </div>
  </div>
  <ng-template #noSelection>
    <div class="text-center text-body-secondary">Select a row to preview its details.</div>
  </ng-template>
</app-learno-offset>

<app-page-header icon="home_and_garden" [action]="'Payment'">
  <app-learno-modal [modalId]="'add_payment'" [modalAction]="'New Payment'" >
    <app-payment-form [userId]="''+user()?.id" modalForm [fees]="fees()" [select]="selectedPay()" (submitted)="handleSuccessSubmit($event)" />
  </app-learno-modal >
</app-page-header>

<app-table-search />

<app-skeleton-loader [isLoading]="isLoading()" variant="table" [rows]="5" [columns]="4">
  <app-data-table
    [tableHeads]="['Name', 'Amount', 'Status','Payment Date']"
    [dataFields]="['fee_name', 'amount', 'status', 'payment_date', 'id']"
    [tableRows]="payments()"
    (preview)="onPreview($event)"
    [shouldShowAction]="false"
    [shouldShowCheckbox]="false"
  />
</app-skeleton-loader>

<app-data-table-numbering [tableData]="payments()" />





