<app-learno-offset [anchorSelector]="anchorSelector()" [modalId]="'productModal'" (closeOffset)="handleCloseOffset()">
  @if(selectedRoutine()) {
    <div class="card border-0 d-flex flex-column h-100">
      <div class="card-body d-flex flex-column justify-content-between">
        <div class="list-group mb-4">
          <div class="list-group-item border-0 border-bottom bg-body">
            <div class="row">
              <div class="col">Teacher</div>
              <div class="col-auto">{{ selectedRoutine()?.first_name }} {{ selectedRoutine()?.last_name }}</div>
            </div>
          </div>
          <!-- <div class="list-group-item border-0 border-bottom bg-body">
            <div class="row">
              <div class="col">Class</div>
              <div class="col-auto">{{ selectedRoutine()?.class_name }}</div>
            </div>
          </div> -->
          <div class="list-group-item border-0 border-bottom bg-body">
            <div class="row">
              <div class="col">Time</div>
              <div class="col-auto">{{ selectedRoutine()?.start_time }} - {{ selectedRoutine()?.end_time }}</div>
            </div>
          </div>
          <div class="list-group-item border-0 border-bottom bg-body">
            <div class="row">
              <div class="col">Subject</div>
              <div class="col-auto">{{ selectedRoutine()?.subject_name }}</div>
            </div>
          </div>
          <div class="list-group-item border-0 border-bottom rounded-0 bg-body">
            <div class="row">
              <div class="col">Room</div>
              <div class="col-auto">{{ selectedRoutine()?.room }}</div>
            </div>
          </div>
        
        </div>


        @for(v of virtualClassFormSelectedRoutine(); track v) {
            <div class="rounded p-3 border bg-dark">
              <span class="badge mb-2 small text-bg-primary">
                <i class="material-symbols-outlined me-2 small">alarm</i>
                {{ v.start_time }} - {{ v.end_time }}
              </span>
              <div class="d-flex justify-content-between align-items-center"> 
                <p class="ps-2 fw-bold">{{v.title}}</p>
                <div class="d-flex flex-column">
                  <span class="badge bg-warning me-2 mb-2">{{v.class_name}}</span>
                  <span class="badge bg-primary me-2">{{v.subject_name }}</span>
                </div>
              </div>
              <a target="_blank" type="button" class="btn btn-sm btn-success text-white mt-2" href="{{v.meet_link}}">Join Now</a>
            </div>
        }


      </div>

    </div>
  }

</app-learno-offset>

<!--</app-learno-offset>-->
<app-page-header icon="schedule" action="Class Routine">
  <!-- Action -->
  <!--    <app-learno-button text="Add Class Routine" (clicked)="clickedHandler()" />-->
</app-page-header>



<div class="row">
  <div class="col-12">
    <app-skeleton-loader [isLoading]="isLoading()" variant="table" [rows]="5" [columns]="1">
      <app-dashboard-card title="Time Table">

        <div class="d-flex flex-column flex-nowrap overflow-auto" body>
          @for (day of days; track day; let dayIndex = $index) {
            <div class="d-flex py-3 flex-row align-items-center border-bottom me-4 flex-fill">
              <app-routine-day-card class="mb-3 col-1" day="{{day.label}}" />
              @for (period of studentRoutines()[dayIndex+1]; track period; let i = $index) {
                <app-routine-card [routine]="period" [tag]="`${period.teacher_first_name} ${period.teacher_last_name}`" [hasVirtual]="hasVirtual(period)" (preview)="onPreview($event)" />
              }
            </div>
          }
        </div>
      </app-dashboard-card>
    </app-skeleton-loader>
  </div>
</div>
