<a
  [id]="'preview-btn-' + routine()?.id"
   data-bs-toggle="offcanvas" data-bs-target="#productModal" aria-controls="productModal" (click)="preview.emit({ row: routine(), anchorSelector: '#' + ('preview-btn-' + routine()?.id) })"
>
  <div class="border me-3  rounded p-3 mb-4 cursor-pointer">
    <p class="d-flex align-items-center text-nowrap mb-1 text-muted"><span class="material-symbols-outlined me-1">schedule</span>{{getTime}}</p>
    <p class="">Subject : {{routine()?.subject_name}}
      @if (hasVirtual()) {
        <span class="badge text-bg-success ms-2">{{badgeText()}}</span>
      }
    </p>
    <div class="rounded p-1 mt-3">
      <span class="text-muted d-flex align-items-center">
        <!--            <span class="avatar avatar-sm me-2"></span>-->
        {{tag()}}
      </span>
    </div>
  </div>
</a>
