<app-loader [isLoading]="isLoading()" />


<form (submit)="onSubmit()" data-select2-id="84" [formGroup]="formGroup" >
  <div class="modal-body" data-select2-id="83">
    <div class="row" data-select2-id="82">

      <div class="col-lg-6" data-select2-id="94">
        <div class="mb-3" learnoSelect id="Classroom" label="Class" [formControlName]="'classId'"  [options]="classes()"> </div>
      </div>
      <div class="col-lg-6" data-select2-id="81">
        <div class="mb-3" learnoSelect id="subject" label="Subject" [formControlName]="'subjectId'"  [options]="subjects()"> </div>
      </div>
      <div class="col-lg-6" data-select2-id="81">
        <div class="mb-3"  learnoInput inputType="text" id="resource_name" label="Title" [formControlName]="'title'" > </div>
      </div>

      <div class="col-lg-6">
        <div class="mb-3">
          <label for="file" class="form-label">Upload Resource</label>
          <input class="form-control" id="file" type="file" (change)="onFileChange($event)" />
        </div>
      </div>

      <div class="col-lg-12">
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" [formControlName]="'description'" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
    <button type="submit" class="btn btn-primary">{{action()}}</button>
  </div>
</form>
