//@import "./global";
//@import "./chat";




/* You can add global styles to this file, and also import other style files */
/* Apply to the whole page */
html, .offcanvas-body {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #373636 #ffffff; /* thumb color | track color */
}

.offcanvas-body {
    scrollbar-width: none; /* Firefox */
}

/* Webkit Browsers (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
    width: 2px;  /* width of vertical scrollbar */
    height: 10px; /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent !important;
    border: none;
}


::-webkit-scrollbar-thumb {
    background: #239439;  /* thumb color */
    border-radius: 3px;
    border: 2px solid #f0f0f0; /* adds spacing */
}

::-webkit-scrollbar-thumb:hover {
    background: #239439; /* darker on hover */
}

/* Completely remove scrollbar arrows */
::-webkit-scrollbar-button:single-button {
    display: block;
    background-color: transparent;
    border-style: none;
    height: 0;
    width: 0;
}

/* File Manager Area Style
============================================*/
.file-subdown {
  padding-left: 28px;
  margin-top: 21px;
  margin-bottom: 25px;
}
.file-subdown li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 18px;
}
.file-subdown li:last-child {
  margin-bottom: 0;
}
.file-subdown li::before {
  left: 0;
  top: 50%;
  width: 6px;
  content: "";
  height: 6px;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  transition: all ease 0.5s;
  border: 1px solid #605DFF;
}
