<div class="card">
  <div class="card-body">
    <div class="row align-items-center justify-content-between">
      <div class="col-sm-5">
        <!--                Doughnut Chart here-->
        <div id="syllabus_chart"></div>
      </div>
      <div class="col-sm-7">
        <div class=" text-center text-sm-start">
          <h4 class="mb-3">Syllabus</h4>
          <p class="mb-2"><app-icon name="circle" class="text-success me-1" />Completed
            : <span class="fw-semibold">95%</span></p>
          <p><app-icon name="circle" class="text-danger me-1" />Pending :
            <span class="fw-semibold">5%</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
