.overlay-img .shape-01{
    position: absolute;
    left: 40%;
}

.overlay-img .shape-02 {
    position: absolute;
    left: 60%;
    bottom: 0;
}

.overlay-img .shape-03 {
    position: absolute;
    left: 80%;
}

.overlay-img .shape-04 {
    position: absolute;
    right: 15%;
    bottom: 0;
}